* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8ff;
}

header {
    height: 8rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    align-items: center;
    z-index: 100;
}

.ul-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.ul-nav-itens {
    margin: 1rem 2rem;
}

.logo a{
    padding: 10px;
}

    .logo a:hover {
        color: #606060;
    }

.main-cards {
    width: 100%;
    background-color: #f8f8ff;
}

footer {
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}