@media (max-width: 980px) {

    header {
        justify-content: space-between;
    }

    #menu-mobile {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        height: 30px;
        width: 30px;
        border: none;
        align-items: center;
        position: relative;
        cursor: pointer;
        z-index: 5;
        margin-right: 60px;
    }

    .menu-sticker {
        margin-top: 7px;
        height: 2px;
        background-color: black;
        width: 25.8px;
        transition: .5s ease;
    }

    .menu-sticker.active1 {
        transform-origin: top right;
        transform: rotate(-45deg);
        transition: .5s ease;
    }

    .menu-sticker.active2 {
        opacity: 0;
        transition: .5s ease;
    }

    .menu-sticker.active3 {
        transform-origin: bottom right;
        transform: rotate(45deg);
        transition: .5s ease;
    }

    #carouselExampleIndicators {
        margin: auto;
        width: 100%;
    }

    .carousel-container {
        top: 0;
        height: 14rem;
        max-width: 600px;
        margin: auto;
    }

    .carousel-inner img {
        height: 14rem;
    }



    .ul-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -80%;
        height: 100vh;
        width: 45%;
        background-color: white;
        text-align: center;
        padding: 90px 10px 150px;
        transition: .6s ease;
        justify-content: space-between;
        opacity: 0;
    }

    .ul-nav.active {
        right: 0;
        opacity: 1;
    }

    .logo {
        margin-top: 10px;
        margin-left: 45px;
        display: flex;
        height: 5rem;
        width: 2.5rem;
    }

    .main-cards {
        flex-direction: column;
        padding: 0;
        max-width: 700px;
        margin: auto;
    }

    .info-cards {
      width: 100%;
      display: flex;
      position: relative;
      height: auto;
      justify-content: space-around;
      align-items: center;
    }

    .card-info {
        width: 43%;
        background-color: rgb(255, 255, 255);
        margin: 10px;
        height: 50px;
        border: 1px solid rgb(211, 211, 211);
        border-radius: 5px;
        text-align: center;
    }

    .info {
        display: inline-block;
        margin: 10px auto;
        width: 100%;
    }
    
    h2 {
        margin: 20px auto;
    }

    .card img {
        height: auto;
        width: 100%;
        max-height: 400px;
    }
    .card {
        text-align: center;
        height: auto;
        width: 93%;
        margin: 10px auto;
    }


    .card h6,
    .card h3 {
        margin: 10px;
    }

    h5 {
        margin: 10px;
        margin-bottom: 20px;
    }

    footer {
        margin-top: 50px;
        bottom: 0;
    }

}