* {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#carouselExampleIndicators {
    margin: 0 auto;
    max-width: 80vh;
}

.carousel-container {
    width: 100%;
    max-height: 40vh;
    background: rgba(255, 255, 255, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

img {
    margin: auto;
    height: 40vh;
    width: 100%;
}

#menu-mobile {
    display: none;
}

html {
    overflow-x: hidden
}

body {
    height: auto;
    padding-top: 8rem;
    overflow-x: hidden
}

.ul-nav-itens a {
    padding: 10px;
}

    .ul-nav-itens a:hover {
        color: rgb(75, 75, 75);
    }

.main-cards {
    height: auto;
    display: flex;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.info-cards {
    width: 50%;
    display: flex;
    position: relative;
    height: auto;
    justify-content: space-around;
    align-items: center;
  }

  .card-info:hover {
    background-color: rgba(120, 120, 120, 0.1);
  }

  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .card-info {
      width: 43%;
      background-color: rgb(255, 255, 255);
      margin: 10px;
      height: 50px;
      border: 1px solid rgb(211, 211, 211);
      border-radius: 5px;
      text-align: center;
  }

    .card-info a:hover {
        color: rgb(62, 62, 62);
    }

  .info {
      display: inline-block;
      margin: 10px auto;
      width: 100%;
  }

  .container-info {
    display: flex;
    flex-direction: row;
  }

  .main-cards img {
    max-width: 400px;
  }

  .image-background {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   }

.card {
    display: flex;
    text-align: center;
    height: 450px;
    padding: 5px;
    width: 400px;
    min-width: 350px;
    margin: 10px;
}

.aviso {
    display: flex;
    text-align: center;
    height: 100px;
    width: 90%;
    margin: 30px;
    align-items: center;
    justify-content: center;
}


.card img{
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 100%;
}

.card h6,
.card h3 {
    margin: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.button-container {
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.pageIndex{ 
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
    margin: 20px;
}

   .pageIndex:hover {
        color: rgb(90, 90, 90);
    }
    
    .sociais img{
        margin: 0 10px;
        height: 30px;
        width: 30px;
    }

    .container-sociais {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto 30px;
    } 

    .image-background {
        background: rgba(255, 255, 255, 0.56);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
    }

    .social-title {
        margin-bottom: 15px;
    }
