#carouselExampleIndicators {
    margin: 0 auto;
    max-width: 80vh;
}

.carousel-container {
    width: 100%;
    max-height: 40vh;
    background: rgba(255, 255, 255, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

img {
    margin: auto;
    height: 40vh;
    width: 100%;
}

#menu-mobile {
    display: none;
}

html {
    overflow-x: hidden
}

body {
    height: auto;
    padding-top: 8rem;
    overflow-x: hidden
}

.main-cards {
    height: auto;
    display: flex;
    padding: 50px;
}

.card {
    display: flex;
    text-align: center;
    height: 400px;
    padding: 5px;
    width: auto;
    min-width: 350px;
    margin: 10px;
}


.card img{
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 100%;
}

.card h6,
.card h3 {
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}


