* {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#carouselExampleIndicators {
    margin: 0 auto;
    max-width: 80vh;
}

.carousel-container {
    width: 100%;
    max-height: 40vh;
    background: rgba(255, 255, 255, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

img {
    margin: auto;
    height: 40vh;
    width: 100%;
}

#menu-mobile {
    display: none;
}

html {
    overflow-x: hidden
}

body {
    height: auto;
    padding-top: 8rem;
    overflow-x: hidden
}

.main-cards {
    height: auto;
    display: flex;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.info-cards {
    width: 50%;
    display: flex;
    position: relative;
    height: auto;
    justify-content: space-around;
    align-items: center;
  }

  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .card-info {
      width: 43%;
      background-color: rgb(255, 255, 255);
      margin: 10px;
      height: 50px;
      border: 1px solid rgb(211, 211, 211);
      border-radius: 5px;
      text-align: center;
  }

  .info {
      display: inline-block;
      margin: 10px auto;
      width: 100%;
  }

  .main-cards img {
    max-width: 400px;
  }

  .image-background {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   }

.card {
    display: flex;
    text-align: center;
    height: 400px;
    padding: 5px;
    width: auto;
    min-width: 350px;
    margin: 10px;
}


.card img{
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 100%;
}

.card h6,
.card h3 {
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}


